.navbar {
  margin-bottom: 0;
  border: 0;
}
.navbar-collapse.collapse .nav > li,
.navbar-collapse.collapsing li,
.navbar-collapse.collapse.in li {
  display: inline-block;
  text-align: center;
}
a {
  text-decoration: none;
  transition: color 0.25s, background-color 0.15s;
  -moz-transition: color 0.25s, background-color 0.15s;
  -webkit-transition: color 0.25s, background-color 0.15s;
}
a:hover {
  text-decoration: underline;
}
.masthead {
  color: #FFF;
  text-shadow: 1px 1px 1px #000000;
  background: #CCC url('/img/concrete_wall_@2X.png') top left;
}
.masthead img {
  margin-top: 5px;
  border-radius: 100px;
}
#Content {
  margin-top: 25px;
}
section {
  padding: 10px 0;
}
section:last-child {
  border-bottom: none;
}
footer {
  padding: 15px 0;
}
.muted {
  color: #999;
}
.projects {
  width: 100%;
}
.projects td {
  vertical-align: top;
}
#Experience .header {
  font-weight: bold;
  padding: 8px 0;
  margin: 0;
  border-bottom: solid 1px #DDD;
}
#Experience .header span {
  padding: 0 8px;
}
#Experience .panel {
  border: none;
  box-shadow: none;
  border-bottom: solid 1px #DDD;
  margin-top: 0;
}
#Experience .panel-heading {
  margin: 0;
  padding: 8px 0;
  border: none;
  background-color: #FFF;
}
#Experience .panel:nth-child(odd) .panel-heading {
  background-color: #F9F9F9;
}
#Experience .panel-body {
  border-top-color: #EEE;
}
#Experience .panel-body ul {
  margin-top: 10px;
  padding-left: 15px;
}
.four-oh-four {
  background: #000 url(/img/glitch-2.gif) no-repeat center center fixed;
  background-size: cover;
}
.four-oh-four .masthead {
  background-color: rgba(0, 0, 0, .75);
}
.icon-bar {
  background-color: #428bca;
}
dd {
  margin-bottom: 15px;
}
hr {
  padding: 0;
  border: none;
  border-top: solid 1px #DDD;
  color: #DDD;
  text-align: center;
  overflow: visible;
}
hr:after {
  content: "< / >";
  display: inline-block;
  position: relative;
  top: -0.85em;
  font-size: 1em;
  padding: 0 0.25em;
  background: #FFF;
}
.portrait {
  width: 100%;
}
ul.list-unstyled.breakdown {
  padding-left: 15px;
}
.gallery .main h2 {
  border-top: solid 1px #DDD;
  padding-top: 20px;
}
.gallery .main section:first-child h2 {
  border-top: none;
  padding-top: 20px;
}
.gallery figure {
  background-color: #DDD;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  color: #111;
  text-align: center;
  margin-bottom: 15px;
  padding: 7px 0 13px 0;
}
.gallery figure:hover {
  background-color: #EEE;
}
.gallery figure figcaption {
  text-transform: capitalize;
}
.gallery em {
  text-transform: lowercase;
}
.gallery img {
  margin-bottom: 15px;
  cursor: pointer;
}
.divider {
  color: #DDD;
  padding: 15px 5px;
  line-height: 20px;
}

/** Media query overrides **/
@media (max-width: 767px) {
  .portrait {
    width: 50%;
    margin: 0 auto;
  }
  .navbar-collapse.collapse {
    text-align: center;
  }
  .navbar-collapse.collapse .nav > li,
  .navbar-collapse.collapsing li,
  .navbar-collapse.collapse.in li {
    width: 15%;
  }
}

/** Over-rides **/
.modal-title {
  display: inline-block;
}
