/*!
 * Main LESS file for jszpila.github.com
 * Author: Jan Szpila
 */

/* General */
.navbar {
  margin-bottom: 0;

  &.navbar-fixed-top {
    position: relative;
  }
}

a {
  text-decoration: none;
  transition: color .25s, background-color .15s;
  -moz-transition: color .25s, background-color .15s;
  -webkit-transition: color .25s, background-color .15s;

  &:hover {
    text-decoration: underline;
  }
}

.masthead {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

  &.bg-1 {
    background:
      -webkit-gradient(linear,  7%  2%, 93% 93%, color-stop(.93, rgba( 7,  45, 233, .5)), color-stop(.93, transparent)),
      -webkit-gradient(linear, 82% 85%, 55% 55%, color-stop(.55, rgba(57, 107, 228, .5)), color-stop(.55, transparent)),
      -webkit-gradient(linear, 20% 43%, 97% 97%, color-stop(.97, rgba(186,  2,  45, .5)), color-stop(.97, transparent));
    background:
      -moz-linear-gradient(7% 2%, rgba(7, 45, 233, 0.5) 93%, transparent 93.0%), 
      -moz-linear-gradient(82% 85%, rgba(57, 107, 228, 0.5) 55%, transparent 55.0%), 
      -moz-linear-gradient(20% 43%, rgba(186, 2, 45, 0.5) 97%, transparent 97.0%);
    background:
      -o-linear-gradient(7% 2%, rgba(7, 45, 233, 0.5) 93%, transparent 93.0%), 
      -o-linear-gradient(82% 85%, rgba(57, 107, 228, 0.5) 55%, transparent 55.0%), 
      -o-linear-gradient(20% 43%, rgba(186, 2, 45, 0.5) 97%, transparent 97.0%);
    background: 
      linear-gradient(to 7% 2%, rgba(7, 45, 233, 0.5) 93%, transparent 93.0%), 
      linear-gradient(to 82% 85%, rgba(57, 107, 228, 0.5) 55%, transparent 55.0%), 
      linear-gradient(to 20% 43%, rgba(186, 2, 45, 0.5) 97%, transparent 97.0%);
    background-color: #FFF;
  }

  &.bg-2 {
    background: 
      -webkit-gradient(linear, 16% 66%, 43% 43%, color-stop(.43, rgba(23, 22, 22, .27)), color-stop(.43, transparent)),
      -webkit-gradient(linear, 97% 54%, 85% 85%, color-stop(.85, rgba( 0,  0,  0, .14)), color-stop(.85, transparent)),
      -webkit-gradient(linear, 87% 58%, 65% 65%, color-stop(.65, rgba(24, 22, 22, .39)), color-stop(.65, transparent)),
      -webkit-gradient(linear, 91% 30%, 78% 91%, color-stop(.91, rgba(11,  9,  9, .23)), color-stop(.91, transparent)),
      -webkit-gradient(linear, 79%  6%, 46% 46%, color-stop(.46, rgba(21, 20, 20, .11)), color-stop(.46, transparent)),
      -webkit-gradient(linear,  8% 84%, 59% 90%, color-stop(.90, rgba( 3,  3,  3, .18)), color-stop(.90, transparent));
    background: 
      -moz-linear-gradient(16% 66%, rgba(23, 22, 22, 0) 43%, transparent 43.0%), 
      -moz-linear-gradient(97% 54%, rgba(0, 0, 0, 0.14) 85%, transparent 85.0%), 
      -moz-linear-gradient(87% 58%, rgba(24, 22, 22, 0.39) 65%, transparent 65.0%), 
      -moz-linear-gradient(91% 30%, rgba(11, 9, 9, 0.23) 91%, transparent 91.0%), 
      -moz-linear-gradient(79% 6%, rgba(21, 20, 20, 0) 46%, transparent 46.0%), 
      -moz-linear-gradient(8% 84%, rgba(3, 3, 3, 0) 90%, transparent 90.0%);
    background: 
      -o-linear-gradient(16% 66%, rgba(23, 22, 22, 0) 43%, transparent 43.0%), 
      -o-linear-gradient(97% 54%, rgba(0, 0, 0, 0.14) 85%, transparent 85.0%), 
      -o-linear-gradient(87% 58%, rgba(24, 22, 22, 0.39) 65%, transparent 65.0%), 
      -o-linear-gradient(91% 30%, rgba(11, 9, 9, 0.23) 91%, transparent 91.0%), 
      -o-linear-gradient(79% 6%, rgba(21, 20, 20, 0) 46%, transparent 46.0%), 
      -o-linear-gradient(8% 84%, rgba(3, 3, 3, 0) 90%, transparent 90.0%);
    background: 
      linear-gradient(to 16% 66%, rgba(23, 22, 22, 0) 43%, transparent 43.0%), 
      linear-gradient(to 97% 54%, rgba(0, 0, 0, 0.14) 85%, transparent 85.0%), 
      linear-gradient(to 87% 58%, rgba(24, 22, 22, 0.39) 65%, transparent 65.0%), 
      linear-gradient(to 91% 30%, rgba(11, 9, 9, 0.23) 91%, transparent 91.0%), 
      linear-gradient(to 79% 6%, rgba(21, 20, 20, 0) 46%, transparent 46.0%), 
      linear-gradient(to 8% 84%, rgba(3, 3, 3, 0) 90%, transparent 90.0%);
    background-color: #666;
  }

  &.bg-3 {
    background:
      -webkit-gradient(linear, 27% 94%, 30% 30%, color-stop(.30, rgba(25, 21, 21, .10)), color-stop(.30, transparent)),
      -webkit-gradient(linear, 13% 41%, 49% 57%, color-stop(.49, rgba( 3,  3,  3, .14)), color-stop(.49, transparent)),
      -webkit-gradient(linear, 31% 95%,  5% 27%, color-stop(.27, rgba(16, 16, 16, .39)), color-stop(.27, transparent)),
      -webkit-gradient(linear, 28% 10%,  8% 93%, color-stop(.08, rgba(11,  9,  9, .23)), color-stop(.08, transparent)),
      -webkit-gradient(linear, 72% 21%, 62% 38%, color-stop(.62, rgba( 8,  7,  7, .17)), color-stop(.62, transparent)),
      -webkit-gradient(linear, 38% 44%, 25% 75%, color-stop(.10, rgba(21, 20, 20, .09)), color-stop(.10, transparent));
    background: 
      -moz-linear-gradient(27% 94%, rgba(25, 21, 21, 0) 30%, transparent 30.0%), 
      -moz-linear-gradient(13% 41%, rgba(3, 3, 3, 0.14) 49%, transparent 49.0%), 
      -moz-linear-gradient(31% 95%, rgba(16, 15, 15, 0.39) 27%, transparent 27.0%), 
      -moz-linear-gradient(28% 10%, rgba(11, 9, 9, 0.23) 8%, transparent 8.0%), 
      -moz-linear-gradient(72% 21%, rgba(8, 7, 7, 0) 62%, transparent 62.0%), 
      -moz-linear-gradient(38% 44%, rgba(21, 20, 20, 0) 0%, transparent 0.0%);
    background: 
      -o-linear-gradient(27% 94%, rgba(25, 21, 21, 0) 30%, transparent 30.0%), 
      -o-linear-gradient(13% 41%, rgba(3, 3, 3, 0.14) 49%, transparent 49.0%), 
      -o-linear-gradient(31% 95%, rgba(16, 15, 15, 0.39) 27%, transparent 27.0%), 
      -o-linear-gradient(28% 10%, rgba(11, 9, 9, 0.23) 8%, transparent 8.0%), 
      -o-linear-gradient(72% 21%, rgba(8, 7, 7, 0) 62%, transparent 62.0%), 
      -o-linear-gradient(38% 44%, rgba(21, 20, 20, 0) 0%, transparent 0.0%);
    background: 
      linear-gradient(to 27% 94%, rgba(25, 21, 21, 0) 30%, transparent 30.0%), 
      linear-gradient(to 13% 41%, rgba(3, 3, 3, 0.14) 49%, transparent 49.0%), 
      linear-gradient(to 31% 95%, rgba(16, 15, 15, 0.39) 27%, transparent 27.0%), 
      linear-gradient(to 28% 10%, rgba(11, 9, 9, 0.23) 8%, transparent 8.0%), 
      linear-gradient(to 72% 21%, rgba(8, 7, 7, 0) 62%, transparent 62.0%), 
      linear-gradient(to 38% 44%, rgba(21, 20, 20, 0) 0%, transparent 0.0%);
    background-color: #666;
  }

  &.bg-4 {
    background: 
      -webkit-gradient(linear, 45% 20%, 99%  1%, color-stop(.77, rgba(  1,   1, 121, .33)), color-stop(.77, transparent)),
      -webkit-gradient(linear, 40% 23%, 80% 20%, color-stop(.80, rgba(  0,   0,  62, .14)), color-stop(.80, transparent)),
      -webkit-gradient(linear, 80% 66%, 48% 52%, color-stop(.48, rgba( 22,  19,  19, .39)), color-stop(.48, transparent)),
      -webkit-gradient(linear, 98% 53%, 57% 33%, color-stop(.57, rgba( 15,  15,  15, .23)), color-stop(.57, transparent)),
      -webkit-gradient(linear, 89% 97%, 35% 65%, color-stop(.35, rgba(  2,   2, 213, .35)), color-stop(.35, transparent)),
      -webkit-gradient(linear, 99%  2%, 23% 77%, color-stop(.23, rgba(  8,   8,   8, .67)), color-stop(.23, transparent)),
      -webkit-gradient(linear, 26% 23%,  3% 97%, color-stop(.03, rgba( 31,  31, 255, .40)), color-stop(.03, transparent));
    background:
      -moz-linear-gradient(45% 30%, rgba(1, 1, 121, 0) 99%, transparent 99.0%),
      -moz-linear-gradient(40% 23%, rgba(0, 0, 62, 0.14) 80%, transparent 80.0%),
      -moz-linear-gradient(80% 66%, rgba(22, 19, 19, 0.39) 48%, transparent 48.0%), 
      -moz-linear-gradient(98% 53%, rgba(15, 15, 15, 0.23) 57%, transparent 57.0%), 
      -moz-linear-gradient(89% 97%, rgba(2, 2, 213, 0) 35%, transparent 35.0%), 
      -moz-linear-gradient(99% 2%, rgba(8, 8, 8, 0) 23%, transparent 23.0%), 
      -moz-linear-gradient(26% 23%, rgba(31, 31, 255, 0.4) 3%, transparent 3.0%);
    background: 
      -o-linear-gradient(45% 30%, rgba(1, 1, 121, 0) 99%, transparent 99.0%), 
      -o-linear-gradient(40% 23%, rgba(0, 0, 62, 0.14) 80%, transparent 80.0%), 
      -o-linear-gradient(80% 66%, rgba(22, 19, 19, 0.39) 48%, transparent 48.0%), 
      -o-linear-gradient(98% 53%, rgba(15, 15, 15, 0.23) 57%, transparent 57.0%), 
      -o-linear-gradient(89% 97%, rgba(2, 2, 213, 0) 35%, transparent 35.0%), 
      -o-linear-gradient(99% 2%, rgba(8, 8, 8, 0) 23%, transparent 23.0%), 
      -o-linear-gradient(26% 23%, rgba(31, 31, 255, 0.4) 3%, transparent 3.0%);
    background:
      linear-gradient(to 45% 30%, rgba(1, 1, 121, 0) 99%, transparent 99.0%), 
      linear-gradient(to 40% 23%, rgba(0, 0, 62, 0.14) 80%, transparent 80.0%), 
      linear-gradient(to 80% 66%, rgba(22, 19, 19, 0.39) 48%, transparent 48.0%), 
      linear-gradient(to 98% 53%, rgba(15, 15, 15, 0.23) 57%, transparent 57.0%), 
      linear-gradient(to 89% 97%, rgba(2, 2, 213, 0) 35%, transparent 35.0%), 
      linear-gradient(to 99% 2%, rgba(8, 8, 8, 0) 23%, transparent 23.0%), 
      linear-gradient(to 26% 23%, rgba(31, 31, 255, 0.4) 3%, transparent 3.0%);
    background-color: #FFF;
  }

  &.bg-5 {
    background:
      -webkit-gradient(linear, 14% 45%, 75% 25%, color-stop(.75, rgba(  1,   1, 101, .10)), color-stop(.75, transparent)),
      -webkit-gradient(linear, 54% 73%, 45% 55%, color-stop(.45, rgba(  1,   1,  71, .14)), color-stop(.45, transparent)),
      -webkit-gradient(linear, 52% 37%, 27% 73%, color-stop(.27, rgba( 16,  15,  15, .39)), color-stop(.27, transparent)),
      -webkit-gradient(linear, 98% 18%, 21% 79%, color-stop(.21, rgba( 21,  20,  20, .23)), color-stop(.21, transparent)),
      -webkit-gradient(linear, 86%  1%, 73% 27%, color-stop(.73, rgba(  6,   6, 244, .73)), color-stop(.73, transparent)),
      -webkit-gradient(linear, 16%  2%, 95%  5%, color-stop(.95, rgba( 11,  10,  10, .22)), color-stop(.95, transparent)),
      -webkit-gradient(linear, 81% 51%, 99%  1%, color-stop(.99, rgba( 28,  28, 253, .40)), color-stop(.99, transparent));
    background:
      -moz-linear-gradient(14% 45%, rgba(1, 1, 101, 0) 75%, transparent 75.0%), 
      -moz-linear-gradient(54% 73%, rgba(1, 1, 71, 0.14) 45%, transparent 45.0%), 
      -moz-linear-gradient(52% 37%, rgba(16, 15, 15, 0.39) 27%, transparent 27.0%), 
      -moz-linear-gradient(98% 18%, rgba(21, 20, 20, 0.23) 21%, transparent 21.0%), 
      -moz-linear-gradient(86% 1%, rgba(6, 6, 244, 0) 73%, transparent 73.0%), 
      -moz-linear-gradient(16% 2%, rgba(11, 10, 10, 0) 95%, transparent 95.0%), 
      -moz-linear-gradient(81% 51%, rgba(28, 28, 253, 0.4) 99%, transparent 99.0%), 
      -moz-linear-gradient(43% 4%, rgba(255, 255, 255, 0.19) 78%, transparent 78.0%), 
      -moz-linear-gradient(97% 31%, rgba(24, 22, 22, 0) 55%, transparent 55.0%), 
      -moz-linear-gradient(92% 7%, rgba(32, 32, 254, 0.3) 67%, transparent 67.0%);
    background: 
      -o-linear-gradient(14% 45%, rgba(1, 1, 101, 0) 75%, transparent 75.0%), 
      -o-linear-gradient(54% 73%, rgba(1, 1, 71, 0.14) 45%, transparent 45.0%), 
      -o-linear-gradient(52% 37%, rgba(16, 15, 15, 0.39) 27%, transparent 27.0%), 
      -o-linear-gradient(98% 18%, rgba(21, 20, 20, 0.23) 21%, transparent 21.0%), 
      -o-linear-gradient(86% 1%, rgba(6, 6, 244, 0) 73%, transparent 73.0%), 
      -o-linear-gradient(16% 2%, rgba(11, 10, 10, 0) 95%, transparent 95.0%), 
      -o-linear-gradient(81% 51%, rgba(28, 28, 253, 0.4) 99%, transparent 99.0%), 
      -o-linear-gradient(43% 4%, rgba(255, 255, 255, 0.19) 78%, transparent 78.0%), 
      -o-linear-gradient(97% 31%, rgba(24, 22, 22, 0) 55%, transparent 55.0%), 
      -o-linear-gradient(92% 7%, rgba(32, 32, 254, 0.3) 67%, transparent 67.0%);
    background: 
      linear-gradient(to 14% 45%, rgba(1, 1, 101, 0) 75%, transparent 75.0%),
      linear-gradient(to 54% 73%, rgba(1, 1, 71, 0.14) 45%, transparent 45.0%),
      linear-gradient(to 52% 37%, rgba(16, 15, 15, 0.39) 27%, transparent 27.0%),
      linear-gradient(to 98% 18%, rgba(21, 20, 20, 0.23) 21%, transparent 21.0%),
      linear-gradient(to 86% 1%, rgba(6, 6, 244, 0) 73%, transparent 73.0%),
      linear-gradient(to 16% 2%, rgba(11, 10, 10, 0) 95%, transparent 95.0%),
      linear-gradient(to 81% 51%, rgba(28, 28, 253, 0.4) 99%, transparent 99.0%),
      linear-gradient(to 43% 4%, rgba(255, 255, 255, 0.19) 78%, transparent 78.0%),
      linear-gradient(to 97% 31%, rgba(24, 22, 22, 0) 55%, transparent 55.0%),
      linear-gradient(to 92% 7%, rgba(32, 32, 254, 0.3) 67%, transparent 67.0%);
    background-color: #EFEFEF;
  }

  img {
    margin-top: 5px;
    border-radius: 100px;
  }
}

#Content {
  margin-top: 25px;
}

section {
  margin-bottom: 25px;

  h2 {
    display: inline-block;
    margin-right: 15px;
  }
}

#Skills {  
  .skills {
    min-height: 140px;
  }

  .group-title {
    font-weight: bold;
    display: block;
  }

  .group-content {
    padding-left: 15px;
  }

  .muted {
    padding-left: 5px;
  }
}

#Experience {
  tbody td,
  thead th {
    width: 33%;

    &:last-child {
      padding-left: 20px;
    }
  }

  .icon-time {
    padding: 0 5px;
  }
}

footer {
  padding: 15px 0;
}

.align-right {
  text-align: right;
}

.muted {
 color: #999;
}

.body {
  background-color: #FFF;
}

.nav-bar {
  border: 0;
}

.exp-container {
  display: none;

  p {
    font-style: italic;
  }
}

#Experience {
  height: 557px;
  overflow: hidden;
}
